<div id = "Welcome"><p>What we do</p>
<div id = "Welcometext">We work with our clients to design, develop, and implement custom software and websites based on their unique needs and specifications.  We understand that every company is different, and want to work with you to make a product that is as unique as you are. <br> <br>  Our software is developed by two highly-trained developers in the Orange County area, who have experience developing software that is functional and dynamic.</div>
</div>
<div id ="Believe"><p>Our designs are:</p>
<div style="width: 100%; font-weight: 600;">
 <div class= "table">Dynamic</div>
 <div class= "table">Easy to Use</div>
 <div class= "table">Extensively Tested</div>
 <br style="clear: left;" />
 <div style="width: 100%;margin-top: 40px;">
 <div class= "table">Clean & Elegant</div>
 <div class= "table">Extensively Tested</div>
 <div class= "table">Brilliant</div>
 <br style="clear: left;" />
</div>
</div></div>
<div id="Developers"><p>Meet our developers</p>
    <div id = "bio">
        <div id = "adamorsam">
            <div id ="adambutton"><p>meet</p> ADAM</div>
            <div id ="sambutton"><p>meet</p> SAM</div>
        </div>
        <div id = "sam">sam</div> 
        <div id = "adam">adam</div>     
    </div>

</div>
