
<div id = "Contacttitle">Contact Us</div>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div id="contactbuttons" style="width: 80%;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; font-size: 26px;margin: 0 auto; margin-top: 40px;color:black;">
 <a class= "table"><img class = "contactimg" src="/images/memo.png"/> <br> Request a Quote</a>
 <a class= "table"><img class = "contactimg" src="/images/cs.png"/> <br> Customer Support</a>
 <a class= "table"><img class = "contactimg" src="/images/meeting.png"/> <br> Set Up a Meeting</a>

 <br style="clear: left;" />
 </div>
